# Database
DATABASE_URL="postgresql://user:password@localhost:5432/pickleball_db"

# Server port
API_PORT=3021

# Admin password để đăng nhập
PICKLEBALL_ADMIN_PASSWORD=golab2026

# JWT secret (đổi cái này trong production!)
PICKLEBALL_JWT_SECRET=your-super-secret-key-change-this
